<div>
  <mat-toolbar>
    <div class="container-fluid">
      <div class="row">
        <div class="col">
          <button mat-icon-button class="example-icon" aria-label="example icon">
            <mat-icon aria-hidden="false" aria-label="Example thumbs up SVG icon">menu</mat-icon>
          </button>
          <span>Gmail Clone</span>
        </div>
        <div class="col-md-9">

        </div>
        <div class="col">
          <span class="example-spacer"></span>
          <button mat-icon-button class="example-icon favorite-icon">
            <mat-icon>help_outline</mat-icon>
          </button>
          <button mat-icon-button class="example-icon">
            <mat-icon>settings</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </mat-toolbar>
  <app-sidenav></app-sidenav>
</div>
