<div class="col-md-12 ml-auto col-xl-12 mr-auto">
  <div class="card">
    <div class="card-header">
      <ul class="nav nav-tabs">
        <li class="nav-item activeMenu">
          <a href="#primary" role="tab" class="nav-link active" data-toggle="tab">
            <i class="fa fa-inbox mr-3" aria-hidden="true"></i>Primary
          </a>
        </li>
        <li class="nav-item">
          <a href="#profile" role="tab" class="nav-link staticColor" data-toggle="tab">
            <i class="fa fa-user-group mr-3" aria-hidden="true"></i>Social
          </a>
        </li>
        <li class="nav-item">
          <a href="#messages" role="tab" class="nav-link staticColor" data-toggle="tab">
            <i class="fa fa-solid fa-tag mr-3" aria-hidden="true"></i>Promotions
          </a>
        </li>
        <li class="nav-item">
          <a href="#settings" role="tab" class="nav-link staticColor" data-toggle="tab">
            <i class="fa fa-circle-info mr-3" aria-hidden="true"></i>Updates
          </a>
        </li>
      </ul>
    </div>
    <div class="card-body">
      <div class="tab-content text-center">
        <div class="tab-pane active" id="primary" role="tabpanel">
          <table class="table table-striped glyphicon-hover">
            <tr>
              <td>
                <input type="checkbox">
              </td>
              <td>
                <i class="fa fa-solid fa-star"></i>
              </td>
              <td style="text-align: left; white-space: nowrap;">
                Title of the email
              </td>
              <td class="truncate">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus doloribus eaque eum ex facere ipsa maxime praesentium saepe ullam veniam.
              </td>
              <td class="time">
                01:20PM
              </td>
            </tr>
          </table>
        </div>
        <div class="tab-pane" id="profile" role="tabpanel">

        </div>
        <div class="tab-pane" id="messages" role="tabpanel">

        </div>
        <div class="tab-pane" id="settings" role="tabpanel">

        </div>
      </div>
    </div>
  </div>
</div>
