<div class="container-fluid">
  <div class="row d-flex d-md-block flex-nowrap wrapper">
    <div id="sidebar" class="col-md-2 float-left col-1 pl-0 pr-0 collapse width show">
      <div class="list-group card text-center text-md-left">
        <a href="#" class="list-group-item d-inline-block collapsed" data-parent="#sidebar">
          <i class="fa fa-inbox pr-3" aria-hidden="true"></i>
          <span class="d-none d-md-inline">Inbox</span>
        </a>
        <a href="#" class="list-group-item d-inline-block collapsed" data-parent="#sidebar">
          <i class="fa fa-heart pr-3" aria-hidden="true"></i>
          <span class="d-none d-md-inline">Starred</span>
        </a>
        <a href="#" class="list-group-item d-inline-block collapsed" data-parent="#sidebar">
          <i class="fa fa-clock pr-3" aria-hidden="true"></i>
          <span class="d-none d-md-inline">Snoozed</span>
        </a>
        <a href="#" class="list-group-item d-inline-block collapsed" data-parent="#sidebar">
          <i class="fa fa-paper-plane pr-3" aria-hidden="true"></i>
          <span class="d-none d-md-inline">Sent</span>
        </a>
        <a href="#" class="list-group-item d-inline-block collapsed" data-parent="#sidebar">
          <i class="fa fa-file-text pr-3" aria-hidden="true"></i>
          <span class="d-none d-md-inline">Draft</span>
        </a>
        <a href="#" class="list-group-item d-inline-block collapsed" data-parent="#sidebar">
          <i class="fa fa-list pr-3" aria-hidden="true"></i>
          <span class="d-none d-md-inline">Categories</span>
        </a>
        <a href="#" class="list-group-item d-inline-block collapsed" data-parent="#sidebar">
          <i class="fa fa-sticky-note pr-3" aria-hidden="true"></i>
          <span class="d-none d-md-inline">Notes</span>
        </a>
      </div>

    </div>
  </div>
</div>
